@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Faster+One&family=Fredoka+One&family=Fredoka:wght@300;400;500;600;700&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: auto;
    padding: none;
}

/*refresh screen*/
.refresh {
    animation: slide-out-bottom .5s cubic-bezier(.55, .085, .68, .53) 1s both;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(160deg, #6C6AFF, #A057FF, #9A6BFF);
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
}

.velke-logo {
    height: 16vw;
    margin: auto;
    margin-bottom: -150px;
}

.refresh-heading {
    margin: auto;
    font-family: Fredoka;
    font-weight: 300;
    font-size: 5vw;
    color: white;
    letter-spacing: 0.75vw;
}

/*Fixuj a mixuj nadpis*/
.main-title {
    padding: 0;
    margin: auto;
    display: flex;
    -webkit-user-select: none;
}

.main-title h1 {
    margin: auto;
    font-family: "Expletus Sans";
    font-size: 17vw;
    padding: 0;
    margin-left: 6vw;
}

/*hlavni koktejl*/
.main-title-koktejl {
    transform: rotate(20deg);
    height: 40vw;
    margin: auto;
    padding: 0;
    margin-right: 9vw;
}

/*ikonky*/
.icona {
    width: 20vw;
    border-radius: 2.3vw;
    box-shadow: 15px 15px 30px 0px rgb(0, 0, 0, 25%);
}

/*favoriti*/
.favoriti-container {
    margin: 9vw 8vw 0 8vw;
    padding: 3.5vw 2.3vw;
    border-radius: 3.5vw;
    animation: animateBg 10s linear infinite;
    background-image: linear-gradient(160deg, #6C6AFF, #A057FF, #9A6BFF, #A057FF, #6C6AFF);
    background-size: 100% 1100%;
    box-shadow: 0px 0px 30px 15px rgb(0, 0, 0, 25%);

}

.no-underline {
    text-decoration: none;
}

.favoriti-container h2 {
    font-family: "Faster One";
    color: white;
    font-size: 3vw;
    margin: auto;
    text-align: center;
    margin-bottom: 2.3vw;
    letter-spacing: 1.25vw;
    font-weight: 100;
}

.favoriti__list {
    display: flex;
    justify-content: space-around;
}

.favoriti-container .icona {
    width: 18vw;
    border-radius: 2.3vw;
    box-shadow: 15px 15px 30px 0px rgb(0, 0, 0, 25%);
}

/*nadpisy kategorii*/
.heading-h2 {
    font-family: "Fredoka";
    animation: animateBg 10s linear infinite;
    background-image: linear-gradient(160deg, #6C6AFF, #A057FF, #9A6BFF, #A057FF, #6C6AFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 4vw;
    font-weight: 400;
}


@keyframes animateBg {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

/*nejnovejsich*/
.nejnovejsi-container {
    left: calc(50% - 12.6vw);
}

.nejnovejsi__list {
    display: flex;
    justify-content: center;
    margin-left: -3vw;
}

.nejnovejsi__list-container {
    background-color: none;
    width: 16.5vw;
    transition: 0.2s ease-out;
    position: relative;
    left: 0px;
}

.nejnovejsi__list-item {
    width: 18vw;
    height: 24vw;
    margin: 0;
    padding: 1vw;
    border-radius: 2vw;
    box-shadow: 15px 15px 30px 0px rgb(0, 0, 0, 50%);
    background-color: white;
}

.nejnovejsi__list-container:hover {
    transform: translateY(-1.3vw);
    transition: 0.2s ease-out;
}

.nejnovejsi__list-container:hover ~ .card {
    position: relative;
    left: 3.25vw;
    transition: 0.2s ease-out;
}

@keyframes slide-out-bottom {
    0% {
        transform: translateY(0);
        opacity: 1
    }

    100% {
        transform: translateY(1000px);
        opacity: 0
    }
}



.oblibene-container-background {
    padding-top: 6.5vw;
    padding-bottom: 2vw;
    background: url(../images/Vector%202.svg);
    background-repeat: no-repeat;
    background-position: 90% 90%;
    background-size: 153%;
}

.oblibene-container-glass-container {
    background: rgba(202, 202, 202, 0.09);
    box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 3.25vw;
    margin: 2vw;
    padding-top: 0.1vw;
}


.koktejl-title {
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 300;
    font-size: 7vw;
    margin: 0;
    background: linear-gradient(90.14deg, #6E6BFF 0.97%, #8C4EDF 50.43%, #9266F0 99.88%), #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 2vw 0;
}

.koktejl-container {
    margin-left: 4vw;
}

.koktejl-information {
    display: flex;
    gap: 2vw;
}

.koktejl-priprava {
    margin-left: 6vw;

}

.koktejl-priprava__item {
    margin-top: 3vw;
}

.koktejl-information-difficulty {
    background: #E9AB0C;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Lexend deca';
    text-transform: uppercase;
    font-weight: 200;
    font-size: 1.5vw;
    padding: 0.5vw 2vw;
    text-align: center;
    letter-spacing: 0.15vw;
    color: #FFFFFF;
}

.koktejl-information-rating {
    background: #F5F5F5;
    box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Faster One';
    font-weight: 400;
    font-size: 1.5vw;
    padding: 0.5vw 1vw;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.135em;
    color: #E9AB0C;
}

.heading-detail {
    margin: auto;
    margin-left: 3vw;
    font-family: 'Lexend Deca';
    font-weight: 300;
    font-size: 2.5vw;
    color: #000000;
    padding-bottom: 2vw;
}

.koktejl-priprava-p p {
    margin: auto;
    margin-left: 5vw;
    font-family: 'Lexend Deca';
    font-weight: 200;
    font-size: 1.5vw;
    line-height: 3vw;
}

.odsazeni {
    margin-left: 5vw;
}

.koktejl-priprava-postup-container {
    background: linear-gradient(101.03deg, #6C6AFF 3.6%, #A057FF 53.84%, #9A6BFF 94.9%);
    border-radius: 3vw;
    padding: 3vw 5vw 2vw 5vw;
    max-width: 31vw;
    color: white;
    font-family: 'Lexend Deca';
    margin: 0;
    margin-top: 3vw;

}

.koktejl-priprava-postup-container li {
    line-height: 4vw;
    font-size: 1.5vw;
    font-weight: 200;
    margin-left: 3vw;
}

.heading-detail-container {
    margin: auto;
    font-weight: 300;
    font-size: 2.5vw;
    color: white;
}

video {
    height: 40vw;
    margin-top: 5vw;
    border-radius: 20px;
}


.koktejl__images-wave-background {
    margin-top: -15vw;
    background: url(../images/Vector%203.svg);
    background-repeat: no-repeat;
    background-position: cover;

}

.koktejl__images-wave-container {
    padding: 23rem 0vw 18rem 0vw;
    display: flex;
    justify-content: center;
}

.koktejl__images-wave-background img {
    height: 22vw;
    border-radius: 2vw;
    margin: auto;
}

.koktejl-krasnej {
    position: fixed;
    right: 1rem;
    top: 10rem;
    width: 40%;
}


body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    border-radius: 100px;
    background-color: darkgrey;
    background-clip: content-box;
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90.14deg, #6E6BFF 0.97%, #8C4EDF 50.43%, #9266F0 99.88%), #000000;
    -webkit-background-clip: content-box;
}
